.goToRealChat {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  padding: 2px 10px;
  margin-bottom: 5px;
}
.clickMe {
  margin-left: 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  /* font-family: Monoton; */
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.clickMe:before {
  content: "Click Me IF you Can 👨🏻‍🚒👨🏻‍🚒👨🏻‍🚒";
}

.clickMe:hover {
  color: #ff1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/* @-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
} */

.chats__list {
  width: 700px;
  height: 100%;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  background: white;
  padding: 20px 30px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  /* overflow: hidden; */
  border-radius: 10px;
  padding-top: 0;
}

.main > h1 {
  text-align: center;
}

.chats {
  width: 100%;
  height: 62%;
  margin-top: 10px;
  overflow: scroll;
}

.textarea-btn > textarea,
.select-input > select,
.select-input > input {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "VCR-OSD-Mono";
}

.select-input {
  display: flex;
  align-items: center;
}
.select-input > label {
  margin-right: 10px;
}
.chats__list {
  padding-bottom: 40px;
}
.input-group {
  display: block;
}
.textarea-btn {
  display: flex;
  margin-top: 5px;
  height: 40px;
}
.select-input > select {
  width: 200px;
  height: 45px;
  padding: 0;
}
.select-input > input {
  width: 215px;
  height: 23px;
  font-size: 1rem;
  margin: 0;
  margin-left: 5px;
}
.textarea-btn > textarea {
  width: 100%;
}
.textarea-btn > button {
  border-radius: 5px;
  border: none;
  background-color: #0090da;
  margin-left: 10px;
}
.textarea-btn > button:hover {
  background-color: #007fff;
  color: white;
}

@media (max-width: 1023px) {
  .select-input {
    display: flex;
    align-items: center;
  }
  .select-input > label {
    margin-right: 10px;
  }
  .chats__list {
    padding-bottom: 60px;
  }
  .chats {
    height: 65%;
    margin-top: 10px;
  }
  .input-group {
    display: block;
  }
  .textarea-btn {
    display: flex;
    margin-top: 5px;
    height: 40px;
  }
  .select-input > select {
    width: 200px;
    height: 45px;
    padding: 0;
  }
  .select-input > input {
    width: 215px;
    height: 23px;
    font-size: 1rem;
    margin: 0;
    margin-left: 5px;
  }
  .textarea-btn > textarea {
    width: 95%;
  }
  .textarea-btn > button {
    border-radius: 5px;
    border: none;
    background-color: #c0c0c0;
  }
  .textarea-btn > button:hover {
    background-color: #0090da;
    color: white;
  }
  .clickMe:before {
    content: "Click Me IF you Can 🥰🥰🥰";
  }
}

@media (max-width: 767px) {
  .chats__list {
    width: 400px;
    padding-bottom: 20px;
  }
  .chats {
    height: 62%;
    margin-top: 10px;
  }
  .select-input {
    display: flex;
  }
  .input-group {
    display: block;
  }
  .textarea-btn {
    display: flex;
    margin-top: 5px;
  }
  .textarea-btn > button {
    border-radius: 5px;
    border: none;
    background-color: #ff69b4;
  }
  .textarea-btn > button:hover {
    background-color: #890000;
  }
  .select-input > select {
    width: 180px;
    height: 40px;
    padding: 0;
  }
  .select-input > input {
    width: 250px;
    height: 18px;
    font-size: 1rem;
    margin: 0;
    margin-left: 5px;
  }
  .select-input > label {
    display: none;
  }
  .textarea-btn > textarea {
    width: 95%;
  }

  .clickMe:before {
    content: "Click Me";
  }
}
