.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: start;
  &:nth-child(even) {
    background: #f8f9fa;
  }
  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    svg {
      // icon-size
      font-size: 3rem;
    }
    .text {
      margin-left: 1rem;
      flex: 1;
    }
    // 체크 박스 내에서 체크되었을 때 보일 스타일
    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      color: #ff8787;
    }
  }

  // 엘리먼트 사이사이에 테두리를 넣어준다.
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
