@media (min-width: 1024px) {
  .login__contents {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portrait {
    width: 100%;
    height: 100%;
    background-image: url("https://i.ytimg.com/vi/jr6RxPLlJrs/maxresdefault.jpg");
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .hiddenPortrait {
    width: 100%;
    height: 60%;
    background-image: url("https://s3.amazonaws.com/media.thecrimson.com/photos/2020/11/06/010534_1346719.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  .login {
    width: 70%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: #541eff;
    color: white;
    position: relative;
    display: block;
    border-radius: 10px;
  }
  .userinfo {
    margin: 30px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .login__contents {
    height: 100%;
    width: 200%;
  }
  .portrait {
    width: 100%;
    height: 470px;
    background-image: url("https://wallpapercave.com/wp/wp7445982.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  .portrait:hover {
    background-image: url("https://i.pinimg.com/originals/0f/94/10/0f94108094f6a9cfc64ddf60c32dc1c6.gif");
    /* background-repeat: no-repeat;
      background-size: cover; */
  }
  .login {
    width: 100%;
    height: 170px;
    /* border: 1px solid red; */
    background-color: #333333;
    color: white;
    position: relative;
    display: block;
    align-items: flex-end;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
  }
  .userinfo {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiddenPortrait {
    visibility: none;
  }
}

@media (max-width: 767px) {
  .login__contents {
    height: 100%;
    width: 100%;
  }

  .portrait {
    width: 100%;
    height: 470px;
    background-image: url("https://i.redd.it/w0lmb8i7odo51.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  .portrait:hover {
    margin: 0px auto;
    background-image: url("https://64.media.tumblr.com/7898d087981456a594c2313bbd7b93f3/087d23613b467308-c4/s500x750/2293a6c0d494ffa213a709eab0856304732cc1a7.gifv");
    background-position: center center;
  }

  .login {
    width: 100%;
    height: 180px;
    /* border: 1px solid red; */
    background-color: #3cbc8d;
    color: white;
    position: relative;
    display: block;
    align-items: flex-end;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
  }

  .userinfo {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiddenPortrait {
    visibility: none;
  }
}

.login__btn {
  width: 100px;
  height: 40px;
}
