.TodoInsert {
  display: flex;
  background: #003467;

  input {
    // ! initialize basic style input
    background: none;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    text-align: start;
    line-height: 1.5;
    color: white;
    &::placeholder {
      color: #eff2f5;
    }
    flex: 1;
  }
}
